img{
  display: block;
  width: 100%;
}
img,.side-bar .list-group-item,
.side-bar-card{
  border-radius: 5px;
}
a:hover{
  text-decoration: none;
}
/* logo图 */
.navbar-brand{
  background: url("../img/logo.jpg") no-repeat  center center;
  width: 50px;
  background-size:70%;
}
/* 左侧边栏 */
.side-bar .list-group-item{
  border: 0px;
  margin-top: 5px;
}
.side-bar .list-group-item.active{
  background-color:#6573a4;
}
/* 中间 */
.new-list-item{
  padding: 10px 0px;
  border-bottom: 1px solid rgb(226, 223, 223);
}
.new-list-item .title{
  display: block;
  color: rgb(134, 131, 131);
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 5px;
}
.new-list-item .title:hover{
  color: #337ab7;
  cursor: pointer;
}
.new-list-item .info{
  color: #999;
}
.new-list-item .info .Thead img{
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
/* 右边栏 */
.side-bar-card{
  background-color: rgba(219, 217, 217,.5);
  margin: 10px 0px;
  padding: 10px 0px;
}
.side-bar-card.flag{
  padding: 20px 0px;
}
.side-bar-card .text-lg{
  font-size: 150%;
}
.side-bar-card .card-title,
.side-bar-card .list .item{
  padding: 10px 15px;

}
.side-bar-card .card-title{
  font-size: 18px;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 0px;
}
.side-bar-card .list .item:hover{
  background-color:rgb(219, 217, 217) ;
}
.side-bar-card .list .item .title{
  padding-bottom: 5px;
}
.side-bar-card .list .item .desc{
  color: #999;
}

/* 新闻详情页 */
.news-title{
  line-height: 1.3;
}
.news-status{
  color: #999;
}
.news-status .label{
  margin-left: 5px;
  opacity: .7;
}
.news-content{
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.5;
}
.news-content img{
  margin-top: 10px;
  margin-bottom: 10px;
}
/* 去掉左右padding也即是水平padding */
.no-padding-h{
  padding-left: 0px;
  padding-right: 0px;
}

/* 页脚 */
.footer{
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  color: #999;
}

/* 登錄頁面 */
.container-small{
  max-width: 500px;
}

/* 让复选框隐藏 */
#toggle-checkbox{
  display: none;
}
/* 当复选框为选择状态时，他的兄弟div显示 */
/* 这里使用!important是因为，如果不使用将不能正确显示，bootstrap中对他的显示使用了 !important*/
#toggle-checkbox:checked ~ div{
  display: block !important;
}